@model List<TopicViewModel>
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userName = HttpContextAccessor.HttpContext.Session.GetString("displayName");
    var index = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTopicChat.ClientMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/getlist.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTopicChat.ClientMVC.styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid w-75">
        <div class="row">
            <form class="text-end mt-3" method="post" asp-controller="Account" asp-action="Logout">
                <h2 class="text-white fw-bold d-inline">@userName</h2>
                <button type="submit" class="btn btn-outline-danger btn-custom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                    </svg>
                    Logout
                </button>
            </form>
            <div class="col-12 col-md-12 col-xl-12 text-center center">
                @if (Model == null || !Model.Any())
                {
                    <p>No topics found!</p>
                }
                else
                {
                    <table class="table text-white border-1 m-3">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th class="text-start">Topic Name</th>
                                <th class="text-start w-25">Owner Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var topic in Model)
                            {
                                index++;
                                <tr>
                                    <td >@index</td>
                                    <td class="text-start w-50">@topic.Name</td>
                                    <td class="text-start w-25">@topic.OwnerName</td>
                                    <td>
                                        @if (topic.IsSubcribed == true)
                                        {
                                            <button class="join-btn font20 bg-light text-black w-100" onclick="window.location.href='@Url.Action("GoToChat", new { id = topic.Id, topicNameParam = topic.Name })'">Join</button>
                                        }
                                    </td>
                                    <td>
                                        @if (topic.IsSubcribed == false)
                                        {
                                            <button class="join-btn bg-primary font20 w-100" onclick="window.location.href='@Url.Action("Sub", new { id = topic.Id })'">Sub</button>
                                        }
                                        else
                                        {
                                            <button class="join-btn bg-danger font20 w-100" onclick="window.location.href='@Url.Action("UnSub", new { id = topic.Id })'">UnSub</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <div class="text-white mt-3 mb-4">
                    <div class="align-items-center font20">
                        If you don’t subcribe any topic?
                        <a class="text-primary" data-bs-toggle="modal" data-bs-target="#modalForm">
                            Create new
                        </a>
                    </div>
                </div>
                
                <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center text-black fw-bold" id="exampleModalLabel">CREATE NEW TOPIC</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body"> 
                                <form asp-action="Create" method="post">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" name="topicName" placeholder="Topic Name" required/>
                                    </div>
                                    <div class="modal-footer d-block">
                                        <button type="submit" class="btn btn-warning float-end">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>